@page "/"
@using NewShowsInTown.Shared.Models
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div class="pa-4">
    <h1>Venues</h1>

    @if (venues == null)
    {
        <MudProgressLinear Indeterminate="true" />
    }
    else if (venues.Count == 0)
    {
        <MudAlert Severity="Severity.Info">No venues found</MudAlert>
    }
    else
    {
        <MudTable Items="venues" Hover="true" Striped="true">
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Name</MudTh>
                <MudTh>Address</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Address">@context.Address</MudTd>
            </RowTemplate>
        </MudTable>
    }
</div>

@code {
    private List<Venue>? venues;

    protected override async Task OnInitializedAsync()
    {
        venues = await Http.GetFromJsonAsync<List<Venue>>("/venues");
    }
}